/* ==========================================================================
DEPENDENCIES
	--------------------------------------------------------------------------
	_color.scss
	_mixin.scss
	_common.scss


	TABLE OF CONTENT
	--------------------------------------------------------------------------
	01 Global
	02 Layout
	03 Header
	04 Main Navigation
	05 Home Page
	06 Standard
	07 Footer
	08 Components

	00 Imports
================================================== */

@import 'common/mixin';
@import 'common/vars';


/* =======================================================================
01 Global
========================================================================== */



/* =======================================================================
02 Layout
========================================================================== */
#main {
	.col {
		@include transition( all, 0.5s, $easeOutExpo );
	}

	.full-width {
		width: 100%;
	}

	.hide {
		padding: 0;
		width: 0;
	}
}

.wrapper {
	@include clearfix;

	margin: 0 (-$gutterTablet);
}


/* =======================================================================
03 Header
========================================================================== */
.mainbar {
	float: left;
}

.timeStamp {
    .icon {
        @include inline-block;
    }
}


/* =======================================================================
04 Main Navigation
========================================================================== */



/* =======================================================================
05 Homepage
========================================================================== */
.weather {
	h2 { font-size: 2.4em; }

    .current .temp {
    	font-size: 10em;
    	height: auto;
    }

    .condition  {
        margin-top: 25px;
        .icon { height: 121px; }
    }

    .forecast {
        width: 20%;

        &:nth-child(4),
        &:nth-child(5) {
            display: block;

            .line {
                display: block;
            }
        }

        &:nth-child(5) {
            .line {
                display: none;
            }
        }

        .icon {
    	   margin-bottom: 5px;
        }
    }
}

.widget {
	&.camera{
		height: 163px;
	}


	&.emotion {
		height: 125px;
	}
}

.news-listing a:hover {
	h3 {
		text-decoration: underline;
	}
}


/* =======================================================================
06 Standard
========================================================================== */



/* =======================================================================
07 Footer
========================================================================== */



/* =======================================================================
08 Components
========================================================================== */
@import 'components/materialDesign/desktop';


