/* ==========================================================================
DEPENDENCIES
	--------------------------------------------------------------------------
	_color.scss
	_mixin.scss
	_common.scss


	TABLE OF CONTENT
	--------------------------------------------------------------------------
	01 Global
	02 Layout
	03 Header
	04 Main Navigation
	05 Home Page
	06 Standard
	07 Footer
	08 Components

	00 Imports
================================================== */

@import 'common/mixin';
@import 'common/vars';


/* =======================================================================
01 Global
========================================================================== */


/* =======================================================================
02 Layout
========================================================================== */



/* =======================================================================
03 Header
========================================================================== */



/* =======================================================================
04 Main Navigation
========================================================================== */



/* =======================================================================
05 Homepage
========================================================================== */
.weather {
	h2 {
		font-size: 3em;
	}

	h3 {
		margin-top: 8px;
	}

	.current .temp {
		font-size: 12em;
	}

	.condition .icon {
		// height: 120px;
		font-size: 3em;
	}

	.forecast {
		.icon {
			margin-bottom: 27px;
			margin-top: 20px;
		}

		svg {
			width: {
				width: 125px;
			}
		}
	}
}

.widget {
	&.camera {
		height: 208px;
	}
}

/* =======================================================================
06 Standard
========================================================================== */
.container {
    max-width: 1200px;
}


/* =======================================================================
07 Footer
========================================================================== */



/* =======================================================================
08 Components
========================================================================== */



