/* ==========================================================================
DEPENDENCIES
	--------------------------------------------------------------------------
	_color.scss
	_mixin.scss
	_common.scss


	TABLE OF CONTENT
	--------------------------------------------------------------------------
	01 Global
	02 Layout
	03 Header
	04 Main Navigation
	05 Home Page
	06 Standard
	07 Footer
	08 Components

	00 Imports
================================================== */

@import 'common/mixin';
@import 'common/vars';


/* =======================================================================
01 Global
========================================================================== */



/* =======================================================================
02 Layout
========================================================================== */



/* =======================================================================
03 Header
========================================================================== */
.header {
   	text-align: center;
}

.dashboard {
	.container {
		padding: 0 $gutter;
	}
}

.rssSelections {
	padding: 0;
}

.dateStamp {
    float: none;
    text-align: left;

	.day {
		display: block;
	}

    .comma {
    	display: none;
    }
}

.timeStamp {
    float: none;
    line-height: 1;
    text-align: left;
}

.settings {
	.line {
		display: none;
	}

	.icon {
		display: block;
	}
}


/* =======================================================================
04 Main Navigation
========================================================================== */



/* =======================================================================
05 Homepage
========================================================================== */
.mainbar {
	width: 100% !important;
}

.weather {
	&:after {
		display: none;
	}

	h3 {
		font-size: 1.8em;
	}

	.hilow {
		font-size: 2.25em;
	}

	.current-wrapper {
		margin-bottom: 20px;

		.line-r {
			display: none;
		}

		svg {
			width: 125px;
		}
	}

	.current {
		width: 50%;

		.temp {
			font-size: 10em;
		}

	}

	.condition {
		width: 50%;

		.icon {
			font-size: 3em;
			height: auto;
		}

		.text {
			font-size: 0.75em;
		}
	}

	.forecast {
		border-bottom: 0 !important;
		float: left;
		width: 50%;

		&:nth-child(even) {
			.line {
				display: none;
			}
		}

		&:nth-child(5) {
			display: none;
		}

		.icon {
		    font-size: 5em;
		    // margin-top: 20px;
		    // margin-bottom: 20px;
		}

		.hilow {
			font-size: 1.8em;
		}

		.text {
			font-size: 1.3em;
		}
	}

	.line-r {
		&:after {
			display: none;
		}
	}
}

.news-reports {
	.news-listing {
		padding: 0;
		margin-bottom: 30px;
	}

	img {
		height: 30px;
		width: auto;
	}
}


/* =======================================================================
06 Standard
========================================================================== */
.standard-banner { height: 150px; }


/* =======================================================================
07 Footer
========================================================================== */



/* =======================================================================
08 Components
========================================================================== */
