/* ==========================================================================
DEPENDENCIES
    --------------------------------------------------------------------------
    _color.scss
    _mixin.scss
    _common.scss

    TABLE OF CONTENT
    --------------------------------------------------------------------------
    01 Global
    02 Layout
    03 Header
    04 Main Navigation
    05 Home Page
    06 Standard
    07 Footer
    08 Components

00 Imports
================================================== */

@import 'common/mixin';
@import 'common/vars';
@import 'common/defaults';
@import 'common/fonts';


/* =======================================================================
01 Global
========================================================================== */
*, *:before, *:after { box-sizing: inherit; }
html { box-sizing: border-box; }
body {
    color: $ui-black;
    font: $normal 62.5%/normal 'HelveticaNeue', sans-serif;
    letter-spacing: -0.25px;
    margin: 0 !important;
}
/**
 * Headings
 */

h1, h2, h3, h4, h5, h6,
address {
    word-break: break-word;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0;

    a { font-size: 1em; }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'HelveticaNeue';
    font-weight: $bold;
}

h1 { font-size: 3em; }
h2 { font-size: 2.65em; }
h3 { font-size: 2.3em; }
h4 { font-size: 2em; }
h5 {
    font-size: 1.8em;
    font-style: italic;
}

h6 {
    font-size: 1.6em;
    font-style: italic;
}

ol, ul {
    margin: auto;
    padding: inherit;

    p { font-size: 1em; }
}

dl { font-size: $default-font-size; }

menu, ol, ul {
    margin-bottom: 20px;
    padding: 0 0 0 40px;

    li {
        font-size: $default-font-size;

        ul {
            li { font-size: inherit; }
        }

        a { font-size: inherit; }

        code, kbd, pre, samp { font-size: inherit; }
    }
}

table {
    background-color: transparent;
    border: 1px solid $grey;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;

    tr:nth-child(even) { background: lighten( $grey, 25%); }

    th, td {
        padding: 5px 10px;

        a { font-size: inherit; }
    }

    th {
        background: darken( $grey, 10% );
        color: $white;
        font-size: 1.8em;
        text-align: left;
    }

    td { font-size: 1.3em; }
}

code, kbd, pre, samp {
    font-size: $default-font-size;

    code, kbd, pre, samp { font-size: 1em; }
}

cite, p {
    a { font-size: inherit; }
}

img {
    display: block;
    height: auto;
    margin: 0 auto 10px;
    max-width: 100%;
    width: 100%;
}

p {
    word-break: break-word;
    font-size: $default-font-size;
    margin: 0 0 1em;

    code, kbd, pre, samp { font-size: 1em; }
}

a {
    @include transition( all, 0.5s, $easeOutExpo );

    font-size: $default-font-size;
    margin-bottom: 10px;
    text-decoration: none;
}

button {
    &:focus { outline: 0; }
}

.grid {
    [class^='col-'], [class*=' col-'] {
        background: lighten( $grey, 25% );
        border: 1px solid $grey;
        font-size: 1em;
        // text-align: center;
    }
}

[class^='col-'], [class*=' col-']{
    width: 100%;

    div { font-size: inherit; }
}

.intro {
    font-weight: bold;

    p { font-size: 1.6em; }
}

.pull-left {
    float: left;
    margin-right: 15px;
}

.pull-right {
    float: right;
    margin-left: 15px;
}

.no-border { border-bottom: 0 !important; border-top: 0 !important; }

.vh {
    border: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0;
}

.img-responsive {
    display: block;
    height: auto;
    margin: auto;
    max-width: 100%;
    width: 100%;
}


::-ms-clear { height: 22px; width: 22px; }
::-webkit-input-placeholder,
 :-moz-placeholder,
::-moz-placeholder,
 :-ms-input-placeholder { color: #a9a9a9; }

%clearfix { @include clearfix(); }

%container {
    @extend .clearfix;

    height: 100%;
    margin: auto;
    max-width: 960px;
    position: relative;
}

svg.ripple {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;

    circle {
        fill: $ui-white;
        opacity: 0;
    }
}

/* =======================================================================
02 Layout
========================================================================== */
.pm {
    color: $ui-white;

    .lines .line {
        background: $ui-white;
    }

    .settings button,
    .news-reports a {
        color: $ui-white;
    }

    .climacon_component-stroke {
        fill: $ui-white;
        stroke: $ui-white;
    }

    .preloader-wrapper .preloader {
        background: $ui-black;
    }
}

.preloader-wrapper {
    @include centering-the-unknown();

    margin: auto;
    max-width: 300px;
    width: 100%;
    z-index: 100;

    .preloader {
        @include scale(0);

        background: $ui-white;
        border-radius: 50%;
        // box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        color: $ui-black;
        height: 75px;
        margin: 0 auto 20px;
        position: relative;
        width: 75px;
        z-index: 10;

        .icon {
            @include absolute-center;

            font-size: 4em;
            height: 40px;
            width: 40px;
        }
    }

    .preloader-text {
        display: none;
        font-size: 1.4em;
        font-weight: $light;
        opacity: 0;
        position: relative;
        text-align: center;
        top: 25px;
    }

    .preloader-input {
        display: none;
        opacity: 0;
        position: relative;
        top: 25px;
    }

    .floating {
        margin: 0 auto 20px;
        max-width: 300px;
        width: 100%;

        input {
            background: none;
            border-radius: 0;
            font-size: 2em;
        }
    }

    .btn {
        @include no-transition;

        display: none;
        font-weight: $bold;
        margin: auto;
        max-width: 100px;
        width: 100%;

        opacity: 0;
        position: relative;
        top: 25px;
    }
}

#main {
    &.absolute {
        &.all,
        &.mobile,
        &.tablet { margin-top: 45px; }
    }
}

.backstretch {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.col {
    padding: 0 $gutter;
}

.mainbar {
    overflow: hidden;
}

.lines {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;

    .line {
        background: $ui-black;
        display: block;
        position: absolute;
    }
}

.line-t {
    top: 0;
    height: 1px;
    left: 0;
    // width: 100%;
    width: 0;
}

.line-r {
    // height: 100%;
    height: 0;
    right: 0;
    top: 0;
    width: 1px;
}

.line-b {
    bottom: 0;
    height: 1px;
    left: 0;
    // width: 100%;
    width: 0;
}

.line-l {
    // height: 100%;
    height: 0;
    left: 0;
    top: 0;
    width: 1px;
}

.lines-tb {
    @include scale(0);

    position: absolute;

    &:before,
    &:after {
        background: $ui-black;
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        left: 0;
        margin: auto;
        right: 0;
        width: 100%;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }
}

.lines-lr {
    @include scale(0);

    position: absolute;

    &:before,
    &:after {
        background: $ui-black;
        bottom: 0;
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        margin: auto;
        top: 0;
        width: 1px;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }
}

.ui {
    display: block;

    [class^='ui-'], [class*=' ui-']{
        display: block;
        height: 7px;
        position: absolute;
        width: 7px;
        z-index: 1;
    }

    .ui-ul {
        background: url(../images/corner_ul.png) no-repeat;
        left: 50%;
        top: 50%;
    }

    .ui-ur {
        background: url(../images/corner_ur.png) no-repeat;
        right: 50%;
        top: 50%;
    }

    .ui-dl {
        background: url(../images/corner_dl.png) no-repeat;
        left: 50%;
        bottom: 50%;
    }

    .ui-dr {
        background: url(../images/corner_dr.png) no-repeat;
        right: 50%;
        bottom: 50%;
    }
}

.refresh {
    @include transition( all, 0.5s, $easeOutExpo );
    @include rotate(0deg);

    background: none;
    border: 0;
    float: right;
    font-size: 0.7em;
    height: 20px;
    outline: 0;
    padding: 1px 0;
    width: 20px;

    &:hover {
        @include rotate(180deg);
    }
}

.btn-print {
    display: block;
    font-size: $default-font-size;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.table-wrapper {
    border: 1px solid $grey;
    font-size: 1em !important;
    margin: 20px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;

    &.no-scrollbar {
        border: 0;
        overflow-x: visible;
        overflow-y: visible;
    }

    table { margin-bottom: 0; }

    .btn-print {
        @include transition( position, 0.5s, $easeOutExpo );

        margin-bottom: 0;
        bottom: -50px;
        position: fixed;
        right: 20px;

        &.show { bottom: 20px; }
    }
}


/* =======================================================================
03 Header
========================================================================== */
.header {
    margin: 20px 0 30px;
    padding: 0 $gutter;
    position: relative;

    &.all,
    &.mobile,
    &.tablet {
        .logo {
            padding: 8px $gutter;
            position: absolute;
            z-index: 25;

            .container { padding: 0; }

        }
    }

    &.absolute {
        height: auto;
        position: fixed !important;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    .line {
        height: 4px;
        margin-top: 15px;
        position: static;
    }
}

.dateStamp {
    float: left;

    .day,
    .date {
        opacity: 0;
        position: relative;
        top: 25px;
    }

    .day {
        font-size: 3.2em;
        font-weight: $bold;
    }

    .date {
        font-size: 2.4em;
        font-weight: $light;
    }
}

.timeStamp {
    font-size: 3.2em;
    font-weight: $bold;
    float: right;

    .icon,
    .time {
        opacity: 0;
        position: relative;
        top: 25px;
    }

    .icon {
        display: none;
        font-size: 0.75em;
        height: 26px;
        margin-top: 6px;
        width: 26px;
    }

    .inactive {
        color: #d6d6d6;
    }

    button {
        .icon {
            display: block;
        }
    }
}

.time {
    @include clearfix;
    @include inline-block;

    vertical-align: bottom;

    span {
        float: left;
    }
}

.settings {
    float: right;
    margin-left: 15px;
    padding-left: 10px;
    position: relative;

    button {
        background: none;
        border: 0;
        color: $ui-black;

        &:hover {
            .icon {
                @include rotate(360deg);
            }
        }

        .icon {
            @include transition( all, 0.5s, $easeOutExpo );
            @include rotate(0);

            height: 23px;
            width: 23px;
        }
    }

    .line {
        margin-top: 0;
        position: absolute;
        top: 0;

        height: 0;
    }
}

.dashboard {
    background: $ui-black;
    color: $ui-white;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 150;

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.8em;
        margin-bottom: 15px;
    }

    input[type="text"] {
        @include inline-block;

        background: none;
        color: $ui-white;
        font-size: 1em;
        padding: 0;
        width: auto;

        &:focus {
            color: inherit;
        }
    }

    label {
        &.checkbox:before {
            border: 2px solid $ui-white;
        }
    }

    input[type="checkbox"]{
        &:checked + label {
            &:before { border: 2px solid $ui-white; }
            &:after {
                background: $ui-white;
                color: $ui-black;
            }
        }
    }

    .wrap {
        @include clearfix();
    }

    .close {
        background: none;
        border: 0;
        color: $ui-white;
        font-size: 2em;
        height: 40px;
        padding: 8px;
        position: absolute;
        right: 0;
        top: 10px;
        width: 40px;

        &:hover {
            .icon {
                @include rotate(360deg);
            }
        }

        .icon {
            @include transition( all, 0.5s, $easeOutExpo );
            @include rotate(0);

            height: 23px;
            width: 23px;
        }
    }

    .username {
        font-weight: $light;
    }

    .material-wrapper {
        height: 0;
        overflow: hidden;
        position: relative;

        button {
            background: none;
            border: 0;
            bottom: 0;
            color: $ui-white;
            font-size: 1.8em;
            height: 25px;
            margin: auto;
            padding: 3px;
            position: absolute;
            right: 0;
            top: 0;
            width: 25px;
            z-index: 25;

            &:hover {
                .icon {
                    @include rotate(180deg);
                }
            }

            .icon {
                @include transition( all, 0.5s, $easeOutExpo );
                @include rotate(0);

                height: 23px;
                width: 23px;
            }
        }
    }

    .material-select-wrapper {
        padding: 0;

        .material-label {
            padding-top: 0;
        }

        .card-wrapper {
            color: $ui-black;
            width: 100%;

            button:hover {
                background: $ui-black;
                color: $ui-white;
            }
        }
    }

    .rssSelections {
        .wrap {
            margin: 20px (-$gutter);
        }
    }

    .rssSelection {
        padding: 0 $gutter;
    }
}


/* =======================================================================
04 Main Navigation
========================================================================== */



/* =======================================================================
05 Homepage
========================================================================== */
.widget {
    background: url(../images/static.gif) no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    min-height: 75px;
    position: relative;

    opacity: 0;
    top: 25px;

    &.camera {
        &.off {
            height: 75%;

            video {
                display: none;
            }
        }

        video {
            height: 100%;
            opacity: 0.8;
            width: 100%;
        }

        .video-wrapper {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            position: relative;
            z-index: 0;
        }
    }

    &.voice {
        height: 75px;

        audio {
            width: 100%;
        }

        canvas {
            height: inherit;
            width: 100%;
        }
    }

    .emotion-wrapper {
        opacity: 0.8;
        position: relative;
        z-index: 0;
    }

    .offline {
        @include absolute-center;

        display: none;
        color: $red;
        font-size: 2.5em;
        font-weight: bold;
        height: 30px;
        text-align: center;
        z-index: 15;
    }
}

.weather {
    margin-bottom: 20px;

    h2 {
        font-size: 2.8em;
        margin-top: 0;

        opacity: 0;
        position: relative;
        top: 25px;
    }

    h3 {
        font-size: 2em;
        font-weight: $bold;
        margin-top: 0;

        opacity: 0;
        position: relative;
        top: 25px;
    }

    .line-b {
        height: 2px;
        margin-top: 25px;
        position: static;
    }

    .icon {
        contain: paint;
    }

    .icon,
    .text,
    .temp,
    .hilow {
        opacity: 0;
        position: relative;
        top: 25px;
    }

    .current-wrapper {
        position: relative;

        .text {
            clear: both;
            font-size: 1.8em;
            font-weight: $light;
        }
    }

    .current {
        float: left;
        width: 60%;

        .temp {
            font-size: 12em;
            font-weight: $light;

            opacity: 0;
            position: relative;
            top: 25px;
        }

        .text {
            font-size: 2em;
            font-weight: $light;

            opacity: 0;
            position: relative;
            top: 25px;
        }
    }

    .hilow {
        font-size: 3em;
        font-weight: $light;

        opacity: 0;
        position: relative;
        top: 25px;
    }

    .condition {
        float: left;
        font-size: 3em;
        font-weight: $light;
        margin-top: 25px;
        padding: 0 10px;
        text-align: right;
        width: 40%;

        .icon {
            @extend %icomoon;

            height: 117px;
            font-size: 2em;
        }
    }

    .forecast {
        margin-bottom: 20px;
        position: relative;
        text-align: center;

        &:nth-child(5) {
            display: none;
        }

        .icon {
            @extend %icomoon;

            font-size: 8em;
            // height: 115px;
            // margin-top: 30px;

            line-height: 0;
            // height: 70px;
        }

        .text {
            font-size: 1.6em;
            font-weight: $light;
        }
    }
}

.news-reports {
    h2 {
        // height: 45px;
        float: none;
        margin-bottom: 20px;
        margin-top: 15px;
        padding-bottom: 20px;
    }

    h3 {
        font-size: 1em;
        margin-bottom: 10px;
    }

    ol {
        @include normalise-list;
    }

    a {
        color: $ui-black;
        font-size: 1em;
    }

    img {
        margin: 0;

        opacity: 0;
        position: relative;
        top: 25px;
    }

    .col-4 {
        padding: 0 $gutter;
    }
}

.news-listing {
    // .line {
    //     background: $ui-black;
    //     height: 1px;
    //     margin-top: 15px;
    //     position: relative;
    //     // width: 100%;
    //     width: 0;
    // }
}

.news-source {
    display: block;
    font-size: 0.75em;

    opacity: 0;
    position: relative;
    top: 25px;
}

.feedEkList {
    @include normalise-list;

    br,
    img,
    ul {
        display: none;
    }

    li {
        margin-bottom: 15px;
    }

    a:hover {
        text-decoration: underline;
    }

    .itemTitle {
        font-weight: $bold;
        line-height: 1.25;
        margin-bottom: 5px;

        opacity: 0;
        position: relative;
        top: 25px;
    }

    .itemDate {
        font-style: italic;
        line-height: 1.25;
        margin-bottom: 15px;
    }

    .itemContent {
        line-height: 1.25;
        margin-bottom: 20px;

        opacity: 0;
        position: relative;
        top: 25px;

        p, a, br {
            display: none;

            &:first-child { display: block; }
        }

        table {
            border: 0;

            td {
                padding: 0;
            }
        }

        blockquote {
            margin: 0 32px 20px;
            position: relative;

            &:before,
            &:after {
                @extend %icomoon;

                height: 32px;
                font-size: 2em;
                opacity: 0.25;
                position: absolute;
                width: 32px;
            }

            &:before {
                content: "\e900";
                left: -32px;
                top: -15px;
            }

            &:after {
                bottom: -15px;
                content: "\e901";
                right: -32px;
            }
        }
    }
}

.location {
    float: none !important;
    margin-bottom: 20px;

    table {
        border: 0;
        margin-bottom: 15px;

        tr:nth-child(even) { background: none; }

        td {
            font-size: 1.6em;
            padding: 0 0 5px;

            opacity: 0;
            position: relative;
            top: 25px;

            &:first-child {
                font-weight: $bold;
                width: 25%;
            }

            &:last-child {
                font-weight: $light;
                text-align: right;
            }
        }
    }

    &.col-line-b {
        &:after {
            height: 2px;
        }
    }
}

/* =======================================================================
06 Standard
========================================================================== */
.container {
    @extend %container;
    @include clearfix;

    .wrap { padding: 0; }
}

.standard-banner {
    color: $white;
    height: 180px;
    margin-bottom: 20px;
}


/* =======================================================================
07 Footer
========================================================================== */



/* =======================================================================
08 Components
========================================================================== */
@import 'components/materialDesign/default';
@import 'components/weatherIcons/default';
@import 'components/mCustomScrollbar/default';