// Buttons and CTAs
.btn { width: 100%; }

// Cards
.card {
	@include transition( all, 0.75s, $easeOutExpo );

    opacity: 0;
    position: relative;
    top: 150px;

	&.show {
        opacity: 1;
        top: 0;
    }

    &.up { top: -150px; }
}
